* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   font-family: "Inter";
  background: #0d0d0d;
  color: #ddd;
  line-height: 1.6;
  /* cursor: none; */
}
.navbar {
  display: flex;
 justify-content: space-around;
  padding:   3rem 2rem;
}

.menu-head{
    display: flex;
    gap: 1rem;
}
.menu-head li {
  list-style: none;
}
.menu-head li:hover {
  border-bottom: 2px solid crimson;
}

.menu-head li a {
  text-decoration: none;
  color: white;
}
.btn {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
}
.btn.small {
  background: #fff;
  color: #000;
  font-weight: bold;
}
/* hero section */
.hero::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 450px;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 20px 20px;
  /* border-radius: 10%; */
  opacity: 0.9;
  z-index: -1;
}
.hero{
    display: flex;
    justify-content: center;
}
 .hero img{
    height: 250px;
    width: 200px;
   margin-top:75px;
}