* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  background: #0d0d0d;
  color: #ddd;
  line-height: 1.6;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
}

.menu-head {
  display: flex;
  gap: 1rem;
}
.menu-head li {
  list-style: none;
}
.menu-head li:hover {
  border-bottom: 2px solid crimson;
}

.menu-head li a {
  text-decoration: none;
  color: white;
}
.btn {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
}
.btn.small {
  background: #fff;
  color: #000;
  font-weight: bold;
}
/* hero section */
.about-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 450px;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.9;
  z-index: -1;
}
.about-container {
  text-align: center;
  padding: 60px 20px;
  padding-bottom: 100px;
  /* margin-top: 40px; */
}

.profile-img {
  height: 250px;
  width: 250px;
  /* border-radius: 20px; */
  /* margin-bottom: 20px; */
  /* object-fit: cover; */
}
h1 {
  font-size: 2.5rem;
}
h1 span {
  font-weight: 300;
}
p.role {
  font-size: 2rem;
  color: #494747;
}

.line {
  margin-bottom:50px;
  height: 1px;
  opacity: 0.3;
  width: 90%;
  margin-top: 80px;
  background-color: whitesmoke;
  margin-left: 4.5rem;
}

.stack {
  background-color: var(--body-color);
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.stack h3 {
  padding: 2rem 0;
  font-family: var(--Instrument-Serif);
  font-weight: 500;
  opacity: 0.4;
  color: var(--Black);
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.svg-icons {
  display: flex;
  gap: 3rem;
  animation: scrollLeft 20s linear infinite;
  width: max-content;
}

.svg-icons img {
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.svg-icons img:hover { opacity: .9; }

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* about Section */
/* .self-information {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 8rem;
} */
/* .about-info {
  max-width: 700px;
  text-align: center;
}

.about-info p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: #cccccc;
} */
.last-line {
  height: 1px;
  opacity: 0.3;
  width: 90%;
  background-color: whitesmoke;
  margin-left: 4.5rem;
  margin-top: 50px;
}
.Certification h4 {
  text-align: center;
  font-size: 3rem;
  opacity: 0.6;
  font-weight: 300;
}
.certificate {
  display: flex;
  justify-content: center;
  padding: 2%;
  gap: 2rem;
}
.cert-img1, .cert-img2 {
  height: 500px;
  width: 100%;
  display: none;
}

.cert-left {
  width: 45%;
 
}

.cert-details1, .cert-details2 {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 36, 36);
   transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}
.cert-details1 h1{
  font-size: 3rem;
  font-weight: 400;
}
.cert-details2 h1{
  font-size: 3rem;
  font-weight: 400;
}
.cert-right {
    background-color: rgb(38, 36, 36);
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dotted-Section{
  text-align: center;
  padding: 60px 20px;
  padding-bottom: 100px
}
.before-pattern{
  height:450px;
  margin-top: 20%;
  margin-left:50%;
  /* content: "";
  position: absolute;
  top: 50%;
  width: 70%; */
  width: 70%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.9;
  /* z-index: -1; */
}

.heading{
  text-align: center;
  padding-top:10%;
}
.heading h1{
  font-size: 3rem;
  font-weight: 400;
  line-height:55px;
}
.after-button{
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  margin-top: 20px;
}
